.element {
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border: 2px dashed red;
    background-color: green;
}

.element h2 {
    display: inline-flex;
}

.element img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}